supervise
event
.s6-svscan
gtk/.config/gtk-3.0/bookmarks
rc
.zcompdump
.nogit

s6/.local/share/s6/svnogit/*
s6/.local/share/s6/rc/*
!s6/.local/share/s6/rc/.gitkeep
s6/.local/share/s6/repository/*
!s6/.local/share/s6/repository/sources
s6/.local/share/s6/repository/sources/.*
s6/.local/share/s6/s6-frontend.conf
s6/.local/share/s6/sv-nogit/*
!s6/.local/share/s6/sv-nogit/.gitkeep