export XDG_RUNTIME_DIR=/run/user/$UID
export XDG_CONFIG_HOME=$HOME/.config
PATH=$PATH:$HOME/scripts
PATH=$PATH:$HOME/.local/bin
PATH=$PATH:/usr/bin
export _JAVA_AWT_WM_NONREPARENTING=1
export AWT_TOOLKIT=MToolkit
wmname LG3D

eval $(gnome-keyring-daemon --start)
export SSH_AUTH_SOCK

s6start.sh &

feh --bg-scale ~/Wallpapers/minimegu.png
setxkbmap -layout us,ru,ua -option "grp:alt_shift_toggle" 

#dwm 2>&1 | s6-log n3 s20000000 T "/home/vezono/testlog"
